@charset "UTF-8";

body {
    background-color: lightgoldenrodyellow;
    font: normal 15px Arial;
}

h1 {
    color: rgb(2, 2, 83);
}

h2 {
    color: rgb(2, 82, 2);
}

h3 {
    color: rgb(123, 139, 123);
}

p {
    text-align: justify;
}